<ion-view class="login">
  <ion-content>
    <fa-app>
        <fa-modifier fa-size="layoutModifier">
        <fa-flexible-layout fa-options="layoutOptions">
        	<fa-surface></fa-surface>
            <fa-surface>
                <h1><img src="img/login_logo.png"></h1>
            </fa-surface>
            <fa-surface></fa-surface>
            <fa-surface>
                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-ios7-email-outline"></i>
                        <input type="text" placeholder="Correo Electrónico">
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-ios7-locked-outline"></i>
                        <input type="password" placeholder="........">
                    </label>
                </div>
                <div>
                    <button class="button button-block button-positive">
                        ENTRAR YA
                        <i class="icon ion-ios7-arrow-forward"></i>
                    </button>
                </div>
                <div>
                    <ul>
                        <li>¿Olvidaste tu contraseña?</li>
                        <li>¿?No tienes una cuenta</li>
                    </ul>
                </div>
                <div>
                    <button class="button button-block button-positive">
                        <i class="icon ion-social-facebook"></i>
                        Entra con tu cuenta de Facebook
                    </button>
                </div>
            </fa-surface>
            <fa-surface>
                <!--h1><img src="img/login_logo.png"></h1-->
            </fa-surface>
            <fa-surface>
                <!--h1><img src="img/login_logo.png"></h1-->
            </fa-surface>
            <fa-surface>
                <!--h1><img src="img/login_logo.png"></h1-->
            </fa-surface>
            <fa-surface>
                <!--h1><img src="img/login_logo.png"></h1-->
            </fa-surface>
            <fa-surface>
                <!--h1><img src="img/login_logo.png"></h1-->
            </fa-surface>
        </fa-flexible-layout>
        </fa-modifier>
    </fa-app>
  </ion-content>
</ion-view>