ion-view.login
	ion-content
		h1
			img(src='img/login_logo.png')
		div.list.list-inset
			label.item.item-input
				i.icon.ion-ios7-email-outline
				input(type="text" placeholder="Correo Eléctronico" ng-model="user.email")
			label.item.item-input
				i.icon.ion-ios7-locked-outline
				input(type="password" placeholder="Password" ng-model="user.password")
		div
			md-button.md-raised.button.button-block.button-positive.italic(ng-click="login()")
				span ENTRAR YA
					i.icon.ion-ios7-arrow-forward
		div
			ul
				li.dudas 
					md-button ¿Olvidaste tu contraseña?
				li 
					md-button(ui-sref="registro") ¿No tienes una cuenta?
		div.border
			md-button.md-raised.button.button-block.button-positive
				span 
					i.icon.ion-social-facebook
					| Entra con tu cuenta de Facebook