<ion-view class="login">
  <ion-content>
    <fa-app>
        <fa-modifier fa-size="layoutModifier">
        <fa-flexible-layout fa-options="layoutOptions">
        	<fa-surface></fa-surface>
            <fa-surface>
                <h1><img src="img/login_logo.png"></h1>
            </fa-surface>
            <fa-surface></fa-surface>
            <fa-surface>
                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Correo Electrónico">
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="password" placeholder="Password">
                    </label>
                </div>
            </fa-surface>
            <fa-surface>
                <h1><img src="img/login_logo.png"></h1>
            </fa-surface>
            <fa-surface>
                <h1><img src="img/login_logo.png"></h1>
            </fa-surface>
            <fa-surface>
                <h1><img src="img/login_logo.png"></h1>
            </fa-surface>
            <fa-surface>
                <h1><img src="img/login_logo.png"></h1>
            </fa-surface>
            <fa-surface>
                <h1><img src="img/login_logo.png"></h1>
            </fa-surface>
        </fa-flexible-layout>
        </fa-modifier>
    </fa-app>
  </ion-content>
</ion-view>