ion-view.login
	ion-content
		h1
			img(src='img/login_logo.png')
		div.list.list-inset
			label.item.item-input
				i.icon.ion-ios-7-email-outline
				input(type="text" placeholder="Correo Eléctronico")
			label.item.item-input
				i.icon.ion-ios-7-locked-outline
				input(type="password" placeholder="Password")
		div
			button.button.button-block.button-positive
				| ENTRAR YA
				i.icon.ion-ios7-arrow-forward
		div
			ul
				li ¿Olvidaste tu contraseña?
				li ¿No tienes una cuenta?
		div
			button.button.button-block.button-positive
				i.icon.ion-social-facebook
				| Entra con tu cuenta de Facebook