div.content-timeline
	ion-view.timeline
		div.bar.bar-header.bar-positive
			i.icon.ion-navicon
			h1 
				img(src="./img/ki-logo.png")
			i.icon.ion-edit
		ion-content.has-header
			div.contenido
			|<script id="post.html" type="text/ng-template">
			|	<ion-modal-view>
			|		<ion-header-bar>
			|			<h1 class="title">Comparte tu <i>status</i></h1>
			|		</ion-header-bar>
			|		<ion-content>
			textarea(id="status" ng-model="post.text")
			div.b
				md-button.button.button-block.button-positive.italic(ng-click="newpost()")
					span Publicar
						i.icon.ion-ios7-arrow-forward
			|		</ion-content>
			|	</ion-modal-view>
			|</script>