<div class="content-timeline"><ion-view class="timeline"><div class="bar bar-header bar-positive"><i class="icon ion-navicon"></i><h1> <img src="./img/ki-logo.png"/></h1><i class="icon ion-edit"></i></div><ion-content class="has-header"><div class="contenido"></div><script id="post.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar>
			<h1 class="title">Comparte tu <i>status</i></h1>
		</ion-header-bar>
		<ion-content><textarea id="status" ng-model="post.text"></textarea><div class="b"><md-button ng-click="newpost()" class="button button-block button-positive italic"><span>Publicar<i class="icon ion-ios7-arrow-forward"></i></span></md-button></div>		</ion-content>
	</ion-modal-view>
</script></ion-content></ion-view></div>