ion-view.profile
	div.bar.bar-subheader.bar-dark
		h2 PERFIL
			i.icon.ion-ios7-person
	ion-content.has-header
		div.contenido
			div.foto-perfil
				p
					md-button.md-fab
						img.profile-img(src="./img/img2.png")
					span Cambia tu foto de perfil
			div.list.list-inset
				label.item.item-input
					md-text-float(label="Escribe tu nombre" ng-model="user.name")
				label.item.item-input
					md-text-float(label="Tu apellido" ng-model="user.surname")
				label.item.item-input
					md-text-float(label="Tu fecha de nacimiento" ng-model="user.birth")
				label.item.item-input
					md-text-float(label="País donde vives" ng-model="user.country")
			p.legend *Todos los campos son obligatorios
			div.b
				md-button.button.button-block.button-positive
					span Let's kiq it
						i.icon.ion-ios7-arrow-forward