ion-view.profile
	div.bar.bar-subheader.bar-dark
		h2 PERFIL
			i.icon.ion-ios7-person
	ion-content.has-header
		div.contenido
			div.foto-perfil
				p
					md-button.md-fab
						img.profile-img(src="./img/img2.png")
					span Cambia tu foto de perfil
			div.list.list-inset
				p {{profile.name}}
				p {{profile.surname}}
				p {{profile.birth}}
				p {{profile.country}}

			div.b
				md-button.button.button-block.button-positive(ng-click="follow(profile.ID)")
					span Kiq
						i.icon.ion-ios7-arrow-forward