ion-view.registro
	ion-content
		h1
			img(src='img/login_logo.png')
		div.back
				p.reg Registrate
		div.list.list-inset
			label.item.item-input
				i.icon.ion-ios7-contact-outline
				input(type="text" placeholder="Nombre de Usuario")
			label.item.item-input
				i.icon.ion-ios7-email-outline
				input(type="text" placeholder="Correo Eléctronico")
			label.item.item-input
				i.icon.ion-ios7-locked-outline
				input(type="password" placeholder="Password")
		div
			p He leído los 
					span.line Términos de Condiciones 
					| además de los 
					span.line Avisos de Privacidad
		div
			button.button.button-block.button-positive.italic
				span CREAR MI CUENTA
					i.icon.ion-ios7-arrow-forward
