div.content-timeline_single
	ion-view.timeline_single
		div.bar.bar-header.bar-positive
			i.icon.ion-navicon
			h1 
				img(src="./img/ki-logo.png")
			i.icon.ion-edit
		ion-content.has-header
			div.contenido
				div.list.card
					div.item.item-avatar.post
						img(src="./img/img2.png")
						h2 {{post.user.name}}
						p.dato {{post.time}} 
							span México D.F{{post.location}}
						i.icon.ion-ios7-paper-outline
					div.item.item-body
						p {{post.text}}
					div.item.tabs.tabs-secondary.tabs-icon-left
						a.tab-item.uno(href="#")
							i.icon
								img(src="./img/facebook.png")
						a.tab-item.dos(href="#")
							i.icon
								img(src="./img/twitter.png")
						a.tab-item.tres(href="#")
							i.icon
								img(src="./img/call.png")
						a.tab-item.cuatro(href="#")
							i.icon.ion-more.position
				div.p
					p.parrafo
						textarea(id="comment")
					md-button.button.button-block.button-positive.italic(ng-click="add_comment()")
						span PUBLICAR >

				div.list 
					a.item.item-avatar
						img(src="./img/img2.png")
						h2 Pablo Greda
						p.comment Este es el ejemplo de un texto de un comentario
						p.fecha Hace tres minutos
					a.item.item-avatar
						img(src="./img/img2.png")
						h2 Ares Vázquez
						p.comment Este es el ejemplo de un texto de un comentario largo para que vea el rey de chocolate como es que lo debe poner ahora que haga esta madre.
						p.fecha 11 de Septiembre de 2014