ion-view.profile_type
	ion-content
		h1
			img(src='img/login_logo.png')
		div
			ul
				li
					md-button.button.button-block(ng-click="updateUser(1)")
						div(layout="row")
							div(flex="20")
								img(src="./img/img1.png")
							div(flex="55")
								span Soy fan
							div(flex)
								i.icon.ion-ios7-arrow-forward
				li 
					md-button.button.button-block(ng-click="updateUser(2)")
						div(layout="row")
							div(flex="20")
								img(src="./img/img2.png")
							div(flex="55")
								span Soy jugador
							div(flex)
								i.icon.ion-ios7-arrow-forward
				li 
					md-button.button.button-block(ng-click="updateUser(3)")
						div(layout="row")
							div(flex="20")
								img(src="./img/img3.png")
							div(flex="55")
								span Soy visor
							div(flex)
								i.icon.ion-ios7-arrow-forward