<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.b3.kiqer" version="1.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Kiqer</name>
  <description>
        Kiqer is an online platform where players, agents, fans, and other entitites meet to créate the most influential network in football soccer. 
    </description>
  <author email="vampay@digitaldealers.mx" href="http://digitaldealers.mx/">
      Digital Dealers Dev Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>