*:before,
*:after {
  box-sizing: border-box;
}
.kiq-icon {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.kiq-timeline:before {
  content: " ";
  background: url("../img/icon-1.png") no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: block;
}
.kiq-matches:before {
  content: " ";
  background: url("../img/icon-2.png") no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: block;
}
.kiq-mensajes:before {
  content: " ";
  background: url("../img/icon-3.png") no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: block;
}
.kiq-kiniela:before {
  content: " ";
  background: url("../img/icon-4.png") no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: block;
}
