.scroll-bar-indicator {
  background: none;
}
/* --login-- */
.login {
  background: url("../img/login_back.jpg") no-repeat;
  background-size: cover;
}
.login img {
  width: 62%;
}
.login ion-content h1 {
  margin: 50px 20px;
  width: 400px;
  margin-bottom: 20px;
}
.login ion-content .card,
.login ion-content .list-inset {
  border-radius: 10px;
}
.login ion-content .card label.item.item-input i.icon,
.login ion-content .list-inset label.item.item-input i.icon {
  font-size: 20px;
  padding-right: 25px;
}
.login ion-content div {
  width: 90%;
  margin: auto;
}
.login ion-content div .button.button-positive {
  border-color: #46518a;
  background-color: #5562a3;
  font-size: 13px;
  transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  min-height: 44px;
}
.login ion-content div .button.button-positive span {
  -webkit-transform: skew(10deg);
  display: block;
}
.login ion-content div .button.button-positive i.icon {
  padding: 10px;
}
.login ion-content div .button.button-positive.italic {
  font-style: italic;
  background-color: #187ab1;
  border-color: #156b9c;
  font-size: 16px;
  font-weight: bold;
}
.login ion-content div ul {
  color: #7d7d7d;
  font-size: 11px;
  display: inline-flex;
  margin-bottom: 30px;
}
.login ion-content div ul li.dudas {
  margin-right: 13px;
}
.login ion-content div.border {
  border-top: 1px solid #353535;
  padding-top: 20px;
}
/* --registro-- */
.registro {
  background: url("../img/login_back.jpg") no-repeat;
  background-size: cover;
}
.registro img {
  width: 62%;
}
.registro ion-content h1 {
  margin: 50px 20px;
  width: 400px;
  margin-bottom: 20px;
}
.registro ion-content .card,
.registro ion-content .list-inset {
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.registro ion-content .card label.item.item-input i.icon,
.registro ion-content .list-inset label.item.item-input i.icon {
  font-size: 20px;
  padding-right: 25px;
}
.registro ion-content div.back {
  background: #2f2f2f;
  padding: 5px;
}
.registro ion-content div.back p.reg {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.registro ion-content div {
  width: 90%;
  margin: auto;
}
.registro ion-content div p {
  color: #7d7d7d;
  text-align: center;
  font-size: 12px;
}
.registro ion-content div p span.line {
  text-decoration: underline;
}
.registro ion-content div .button.button-positive {
  background-color: #187ab1;
  border-color: #156b9c;
  font-size: 16px;
  font-weight: bold;
  transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  min-height: 44px;
}
.registro ion-content div .button.button-positive span {
  -webkit-transform: skew(10deg);
  display: block;
}
.registro ion-content div .button.button-positive i.icon {
  padding: 10px;
}
